
  
<!--- Header ---->
  <div id="header" class="header ">
     <div class="container">
         <div class="row">
             <div class="col-lg-6 col-md-6 woww bounceInLeftw">
                 <h1>Web Development</h1>
                 <p>Having a website is a must for any business in today's web based world. Yes you can create a site of your own with a lot of the templates out there, but there is a lot more to it. When you hire a web developer you have the opportunity to create a completely custom website that keeps up with today's modern technology as well as integrating SEO (Search Engine Optimization) into the site. Why have a website if it doesn't show up on Google? Our goal is not just to develop a website, it is to help create a solution to grow your business. View some of our work below!</p>
                 <a href="/aboutme" class="btn btn-lg btn-primary">About me</a>
                 
                 <a href="/contact" class="btn btn-lg btn-success">Contact</a>
             </div>
             <div class="col-lg-6 col-md-6 woww bounceInRightw">
                 <img src="images/images.jpg" alt="">
             </div>
         </div>
     </div>
       </div>

<!---- End Header ---->
 
 <!--- Services ---->
 
 <div id="services" class="services">
     <div class="container">
         <h2 class="wow fadeInUp">Services</h2>
         <p class="wow fadeInUp" data-wow-delay="0.4">Lorem Ipsum is simply dummy text of the printing and typesettin dummy text</p>
         <div class="row">
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
                 <i class="fa fa-desktop" aria-hidden="true"></i>
                 <h4>Web design</h4>
                 <p>Making your site user friendly and attractive!</p>
             </div>
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s">
                 <i class="fa fa-mobile" aria-hidden="true"></i>
                 <h4>Responsive</h4>
                 <p>Website looks great on any screen size!</p>
             </div>
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                 <i class="fa fa-database" aria-hidden="true"></i>
                  <h4>Database</h4>
                 <p>Lorem Ipsum passages, and more recently with desktop publishing software</p>
             </div>
             <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                 <i class="fa fa-university" aria-hidden="true"></i>
                 <h4>Consulting</h4>
                 <p>Lorem Ipsum passages, and more recently with desktop publishing software</p>
             </div>
         </div>
     </div>
 </div>
  
<!---- End Services ---->






<div class="container-fluid achivement"  data-stellar-background-ratio="0.5">
<div class="container">
	<div class="row">
		<div class="text-center col-md-12"><h4></h4></div>
		<div class="underline mt-3"></div>
	</div>
	
   <div class="row">
   	  
   	  </div>
   </div>		
</div>
</div>

   
 
<!----- Pricing ------>

<div id="pricing" class="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
			   <h2>PROJECTS</h2>
		    </div>
            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.8s">
                <div class="packages">
                    <h4>Online Store</h4>
                    <p>Lorem Ipsum passages, and more recently with desktop</p>
                    <hr>
                    <li>NodeJs</li>
                    <li>Bootstrap 4</li>
                    <li>Javascript</li>
                    <li>Handlebars</li>
                    <li>Nodemailer</li>
                    <li>Heroku</li>
                    <li>MongoDB Database</li>
                    <a href="/projectone" class="btn btn-success">Ver</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.2s">
                <div class="packages">
                    <h4>Blog</h4>
                    <p>Lorem Ipsum passages, and more recently with desktop</p>
                    <hr>
                    <li>Nodejs</li>
                    <li>Javascript</li>
                    <li>EJS</li>
                    <li>Pagination</li>
                    <li>Heroku</li>
                    <li>MongoDB</li>
                    <li>MySQL Database</li>
                    <a href="/projecttwo" class="btn btn-success">Ver</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.6s">
                <div class="packages">
                    <h4>Notes App MERN</h4>
                    <p>Lorem Ipsum passages, and more recently with desktop</p>
                    <hr>
                    <li>ReactJs</li>
                    <li>Webpack</li>
                    <li>React router</li>
                    <li>Heroku</li>
                    <li>MongoDB</li>
                    <a href="/projectthree" class="btn btn-success">Ver</a>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="2s">
                <div class="packages">
                    <h4>Premium</h4>
                    <h1>39.99</h1>
                    <b>Monthly</b>
                    <p>Lorem Ipsum passages, and more recently with desktop</p>
                    <hr>
                    <li>100 Users</li>
                    <li>SSL Certificate</li>
                    <li>Online Support</li>
                    <li>300GB Disckspace</li>
                    <li>100 Email Address</li>
                    <li>MySQL Database</li>
                    <button class="btn btn-success">Get Started</button>
                </div>
            </div>


                        <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.8s">
                <div class="packages">
                    <h4>Landing-page </h4>
                    <p>Lorem Ipsum passages, and more recently with desktop</p>
                    <hr>
                    <li>Angular</li>
                    <li>Angular routing</li>
                    <li>NodeJs</li>
                    <li>Html, Css</li>
                    <li>Bootstrap</li>
                    <li>Nodemailer</li>
                    <button class="btn btn-success">Get Started</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.2s">
                <div class="packages">
                    <h4>Silver</h4>
                    <h1>19.99</h1>
                    <b>Monthly</b>
                    <p>Lorem Ipsum passages, and more recently with desktop</p>
                    <hr>
                    <li>100 Users</li>
                    <li>SSL Certificate</li>
                    <li>Online Support</li>
                    <li>300GB Disckspace</li>
                    <li>100 Email Address</li>
                    <li>MySQL Database</li>
                    <button class="btn btn-success">Get Started</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.6s">
                <div class="packages">
                    <h4>Gold</h4>
                    <h1>29.99</h1>
                    <b>Monthly</b>
                    <p>Lorem Ipsum passages, and more recently with desktop</p>
                    <hr>
                    <li>100 Users</li>
                    <li>SSL Certificate</li>
                    <li>Online Support</li>
                    <li>300GB Disckspace</li>
                    <li>100 Email Address</li>
                    <li>MySQL Database</li>
                    <button class="btn btn-success">Get Started</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="2s">
                <div class="packages">
                    <h4>Premium</h4>
                    <h1>39.99</h1>
                    <b>Monthly</b>
                    <p>Lorem Ipsum passages, and more recently with desktop</p>
                    <hr>
                    <li>100 Users</li>
                    <li>SSL Certificate</li>
                    <li>Online Support</li>
                    <li>300GB Disckspace</li>
                    <li>100 Email Address</li>
                    <li>MySQL Database</li>
                    <button class="btn btn-success">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>
 
 <!--- End Pricing ---->
 
 




<!--- Contact ------>

<div id="contact" class="contact">
    <div class="container">
        <div class="row">
            <h2 class="wow fadeInUp">Contact</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4">Lorem Ipsum passages, and more recently with desktop publishing software</p>
            <div class="col-lg-6 col-md-6">
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="0.8s">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Full Name">
                </div>
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.2s">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Email Address">
                </div>
                <div class="input-group input-group-lg wow fadeInUp" data-wow-delay="1.6s">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Phone Number">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="input-group wow fadeInUp" data-wow-delay="2s">
                    <textarea name="" id="" cols="80" rows="6" class="form-control"></textarea>
                </div>
                <button class="btn btn-lg wow fadeInUp" data-wow-delay="2.4s">Submit Your Message</button>
            </div>
        </div>
    </div>
</div>
 
 <!---- End Contact ----->
 
 
