 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Detalles de los proyectos</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


	  <div class="container-fluid bg-gray mt-5">
 	<div class="container ">
 		<div class="row">
 			<div class="col-sm-12 ">
 				<p> 
					
                    
				<h4>Características comunes:</h4></li> <br>
					 
			   	<li><i class="fas fa-asterisk"></i> En cada una de las aplicaciones se podrá, como usuario, elegir los productos que se desean comprar y enviarlos al carro de compra.</li> <br>
			   	<li><i class="fas fa-asterisk"></i> Para poder efectuar la compra, el usuario debe autenticarse/ registrarse y loguearse y así poder efectuar los pagos.</li> <br>
			   	<li><i class="fas fa-asterisk"></i> Cada usuario tendrá su propia cuenta cuyos datos no interferiran con los de los otros usuarios.</li> <br>
			   	<li><i class="fas fa-asterisk"></i> Las sessiones que consisten en guardar pequeños datos en la memoria del servidor y luego reutilizarlos en diferentes paginas. Gracias el módulo express-session podemos crear sesiones dentro del servidor y cuando 
                 el usuario se autentique luego podra seguir visitando otras ppaginas sin la necesidad de que se vuelva a autenticar. Y eso será posible dado que sus datos quedarán almacenados en una sesion</li> <br>
				<li><i class="fas fa-asterisk"></i> Ambas aplicaciones tenran una contraseña cifrada gracias al módulo bcryptjs que aplica un algoritmo a determinado string y permite convertirlo en un hash</li> <br>
	            <li><i class="fas fa-asterisk"></i> Posibilidad de acceder a un backend oculto para que el propietario de la aplicacion pueda agregar, actualizar o eliminar tanto los productos como su información</li> <br>
				<li><i class="fas fa-asterisk"></i> Las dos aplicaciones fueron programadas con un motor de plantilla que es una manera de extender el html y así poder dotarlo de bucles, condicionales agregándole una funcionalidad extra al html</li> <br>
					  </p>
 			</div>
 		</div>
 	</div>

  		



<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologías <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			
			<p><i class="fa fa-pencil-square-o"></i> Backend: Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Frontend: EJS, HTML, CSS, Bootstrap </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoDB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: https://jorhessapp7.herokuapp.com/ </p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud</p>


</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tienda de Ropa  <strong class="text-primary"> </strong></h2>
			<hr>
			
			
     </div>
   </div>
  </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>

			   	<li><i class="fas fa-asterisk"></i> Desplazamiento suave a través de las diferentes secciones</li> <br>
				<li><i class="fas fa-asterisk"></i> Carrousel</li> <br>
				<li><i class="fas fa-asterisk"></i> Gracias a el módulo "connect-mongo" y mediante una configuracion en session  </li> <br>
				<li><i class="fas fa-asterisk"></i> Cada producto cuenta con la posibilidad de acceder a una vista propia para no solo ver la información
				sino además poder elegir el talle y color de la prenda que se desea comprar </li> <br>
				<li><i class="fas fa-asterisk"></i> URL: https://jorhesswork3.herokuapp.com/ </li> <br>
				<li><i class="fas fa-asterisk"></i> Backend oculto: https://jorhesswork3.herokuapp.com/ofertauno/add</li> <br>


           </p>

       </div>
    </div>
</div>



<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Negocio de Útiles Escolares<strong class="text-primary"> </strong></h2>
			<hr>
			
			
     </div>
   </div>
 </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>

			 <li><i class="fas fa-asterisk"></i>Navegacion que incluye una solapa de registro, </li> 		 <br>
			 <li><i class="fas fa-asterisk"></i> Barra lateral con items de los diferentes productos que cuando se pulsa en el botón se desliza y desaparece y presionando nuevamente, vuelve a aparecer 
			 <li><i class="fas fa-asterisk"></i> Posibilidad de acceder a un backend oculto a través de esta URL: para que el due{o del sitio web pueda ingresar los productos que desea vender y eliminarlos o editar sus informaciones </li> <br>

			<li><i class="fas fa-asterisk"></i> A diferencia de la otra aplicación, aquí no hubo necesidad de programar una vista propia a cada producto ya que
			son productos sencillos y puede el usuario enviar al carro desde la misma vista general</li> <br>
			<li><i class="fas fa-asterisk"></i> URL: https://jorhesswork4.herokuapp.com/ </li> <br>
			<li><i class="fas fa-asterisk"></i> Backend oculto: https://jorhesswork4.herokuapp.com/mochilabackend</li> <br>

            </p>


           </div>
         </div>
        </div>
      </div>
    </div>
  </div>




