 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Detalles del proyecto</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologías <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			
			<p><i class="fa fa-pencil-square-o"></i> Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Angular JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud - Netlify</p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: <a href="https://dreamy-tereshkova-c7e859.netlify.com/" class="project-icon"><i class="fass fas fa-home"></i></a></p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Backend: <a href="https://servermeanjor.herokuapp.com/" class="project-icon"><i class="fass fas fa-home"></i></a></p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Código front: <a href="https://github.com/JorgeH04/meanserver" class="project-icon"><i class="fass fas fa-home"></i></a></p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Código backend: <a href="https://github.com/JorgeH04/meanserver" class="project-icon"><i class="fass fas fa-home"></i></a></p>


</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Descripción <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			
			
</div>
</div>
    </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>

             <li><i class="fas fa-asterisk"></i>Integración de ángular con base de datos MongoDB</li> 		 <br>
			 
       
           </p>
       </div>
      </div>
    </div>
  </div>
 </div>
</div>

