 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Detalles del proyecto</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologías <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			
            <p><i class="fa fa-pencil-square-o"></i> Sitio Web & Blog</p>
			<p><i class="fa fa-pencil-square-o"></i> Backend: Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Frontend: Html-CSS-JS, Bootstrap 4, EJS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoDB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud</p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: <a href="https://jorhesswork1.herokuapp.com/" class="project-icon"><i class="fass fas fa-home"></i></a></p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Backend oculto: <a href="https://jorhesswork1.herokuapp.com/blogbackend/1" class="project-icon"><i class="fass fas fa-home"></i></a></p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Código: <a href="https://github.com/JorgeH04/estudioblogfede" class="project-icon"><i class="fass fas fa-home"></i></a></p>

</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Descripción <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			
			
</div>
</div>
    </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10 ">
           <p>
             <li><i class="fas fa-asterisk"></i>Navegacion fija</li> 		 <br>
			 <li><i class="fas fa-asterisk"></i> Una cabecera con un boton que lo redirijirá a la página donde puede contactarse 
			 con él enviando un mensaje que le llegará a la casilla de correo Gmail gracias a un módulo llamado Nodemailer</li> <br>
			 <li><i class="fas fa-asterisk"></i> Una seccion en la que figuran las empresas que trabajan con  el </li> <br>
			 <li><i class="fas fa-asterisk"></i> Un footer con un mapa donde puede se encuentra la ubicaciín exacta del estudio</li> <br>
			 <li><i class="fas fa-asterisk"></i> Blog para hacer publicaciones sobre temas relacionados a la profesión con paginación </li> <br>
            





</p>


        </div>
     </div>
   </div>
  </div>
 </div>
</div>





