 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Detalles del proyecto</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologías <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			<p>Lorem ipsum dolor sit amet, lotrem some colored text. Nulla explicabo attention to this blanditiis, ex cupiditate ipsam debitis rem.</p>
			
			<p><i class="fa fa-pencil-square-o"></i> Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Handlebars </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: https://jorhessapp7.herokuapp.com/ </p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud</p>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Some bold text, unde voluptatum quidem explicabo et eius aut nisi dolore Learn More</p>
</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Descripción <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			<p>Lorem ipsum dolor sit amet, lotrem some colored text. Nulla explicabo attention to this blanditiis, ex cupiditate ipsam debitis rem.</p>
			
			
</div>
</div>
    </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>
               



</p>


       </div>
    </div>
</div>


