 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Detalles del proyecto</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>

<div class="container-fluid bg-gray mt-5">
 	<div class="container ">
 		<div class="row">
 			<div class="col-sm-12 ">
 				<p> 
				Las siglas MERN hacen referencia a MongoDB, express, react y node. Integrar esas 4 tecnologías utilizando Javascript tanto en el frontend como en el backend. Utilizar un mismo lenguanje en el mismo entorno.
                Angular se encarga de la lógica de programación que funciona dentro del navegador. Node es un entorno de ejecución que hace que el sistema operativo entienda javascript
                Express es un framework del lado del backend
                MongoDb es una base de datos no sql que usa Javascript como lenguaje de consultas	
				</p>
 			</div>
 		</div>
 	</div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologías <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			<p>Sitio Web & Backend</p>
			
			<p><i class="fa fa-pencil-square-o"></i> Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Handlebars </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: https://jorhessapp7.herokuapp.com/ </p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Atlas</p>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Some bold text, unde voluptatum quidem explicabo et eius aut nisi dolore Learn More</p>
</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Descripción <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			
			
</div>
</div>
    </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>

						<li><i class="fas fa-asterisk"></i> Desplazamiento suave a través de las diferentes secciones</li> <br>
						<li><i class="fas fa-asterisk"></i> Desplazamiento suave a través de las diferentes secciones</li> <br>
						<li><i class="fas fa-asterisk"></i> URL: https://jorhesswork2.herokuapp.com/ </li> <br>
						<li><i class="fas fa-asterisk"></i> Actualizar, eliminar y agregar tanto el precio como un nuevo producto</li> <br>
                     	<li><i class="fas fa-asterisk"></i> Código: https://github.com/JorgeH04/stweb </li> <br>

</p>

       </div>
    </div>
</div>
       </div>
    </div>
</div>




