 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Detalles del proyecto</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>



   	  <div class="container-fluid bg-gray mt-5">
 	<div class="container ">
 		<div class="row">
 			<div class="col-sm-12 ">
 				<p> 
					
                    
				<h4>Características comunes:</h4></li> <br>
					 
			   	<li><i class="fas fa-asterisk"></i> Todos los proyectos son elaborados con Babel y Webpack. Babel es un convertidor de código de js, le das código de js moderno y el lo convierte en código standard para que los 
navegadores lo puedan entender. Las nuevas características y sintaxis de js pueden, de esta forma, ser ejecutadas en cualquier navegador
mediante una serie de modulos. Podemos usar imports, funciones flechas, async await, etc.
webpack es un entorno de desarrollo, es un empaquetador de modulos.</li> <br>
			   	<li><i class="fas fa-asterisk"></i> P</li> <br>
			   	<li><i class="fas fa-asterisk"></i> Cada usuario tendrá su propia cuenta cuyos datos no interferiran con los de los otros usuarios.</li> <br>
			   	<li><i class="fas fa-asterisk"></i> Las sessiones que consisten en guardar pequeños datos en la memoria del servidor y luego reutilizarlos en diferentes paginas. Gracias el módulo express-session podemos crear sesiones dentro del servidor y cuando 
                 el usuario se autentique luego podra seguir visitando otras ppaginas sin la necesidad de que se vuelva a autenticar. Y eso será posible dado que sus datos quedarán almacenados en una sesion</li> <br>
				<li><i class="fas fa-asterisk"></i> Ambas aplicaciones tenran una contraseña cifrada gracias al módulo bcryptjs que aplica un algoritmo a determinado string y permite convertirlo en un hash</li> <br>
	            <li><i class="fas fa-asterisk"></i> Posibilidad de acceder a un backend oculto para que el propietario de la aplicacion pueda agregar, actualizar o eliminar tanto los productos como su información</li> <br>
				<li><i class="fas fa-asterisk"></i> Las dos aplicaciones fueron programadas con un motor de plantilla que es una manera de extender el html y así poder dotarlo de bucles, condicionales agregándole una funcionalidad extra al html</li> <br>
					  </p>
 			</div>
 		</div>
 	</div>

  		



<div class="container mt-4">
	<div class="row">
		<div class="col-md-12">
			<h2>Tecnologías <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			
			<p><i class="fa fa-pencil-square-o"></i> React JS </p>
			<p><i class="fa fa-pencil-square-o"></i> Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Webpack-Babel </p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Digital Ocean</p>


            <p>
 </p>
</div>





<div class="container mt-4">
	<div class="row">
		<div class="col-md-12">
			<h2>API BOOK<strong class="text-primary"> </strong></h2>
			<hr>
			<p></p>
			
			
    </div>
   </div>
  </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-8">
           <p>
               
             <li><i class="fas fa-asterisk"></i>Navegacion</li> 		 <br>
			 <li><i class="fas fa-asterisk"></i> Una cabecera con un boton que lo redirijirá a la página donde puede contactarse 
			 con él enviando un mensaje que le llegará a la casilla de correo Gmail gracias a un módulo llamado Nodemailer</li> <br>
			 <li><i class="fas fa-asterisk"></i> Posibilidad de acceder a un backend oculto a través de esta URL: </li> <br>
			 <li><i class="fas fa-asterisk"></i> Una seccion en la que figuran las empresas que trabajan con  el </li> <br>
          </p>
		    <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Código: <a href="https://github.com/JorgeH04/reactbooks" class="project-icon"><i class="fass fas fa-home"></i></a></p>



       </div>
    </div>
</div>
  </div>






<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>API YOUTUBE<strong class="text-primary"> </strong></h2>
			<hr>
			
			
      </div>
    </div>
  </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>
               
             <li><i class="fas fa-asterisk"></i>Navegacion</li> 		 <br>
			 <li><i class="fas fa-asterisk"></i> Componentes, estructura de proyectos, métodos de ciclio de vida, manejo de estados, pasar props de padre a hijo </li> <br>
			 <li><i class="fas fa-asterisk"></i> Api requests a través de Axios</li> <br>
             <li><i class="fas fa-asterisk"></i> Videos de youtube reales que se pueden ver en la aplicacion misma</li> <br>
			 <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Código: <a href=" https://github.com/JorgeH04/reactyoutubeapi" class="project-icon"><i class="fass fas fa-home"></i></a></p>

      
          </p>
       </div>
    </div>
</div>






<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>API MOVIEDB<strong class="text-primary"> </strong></h2>
			<hr>
			
			
      </div>
    </div>
  </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>
               
			 <li><i class="fas fa-asterisk"></i> Listado de películas obtenidas desde una APi gratuita  </li> <br>
			 <li><i class="fas fa-asterisk"></i> Un listado y una vista de detalle </li> <br>
			 <li><i class="fas fa-asterisk"></i> Consultas a la API a través del método Fetch</li> <br>
             <li><i class="fas fa-asterisk"></i> Una seccion en la que figuran las empresas que trabajan con  el </li> <br>
             <li><i class="fas fa-asterisk"></i> Código: https://github.com/JorgeH04/reactmovies </li> <br>
           </p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: <a href=" https://reactmoviesapp.herokuapp.com/" class="project-icon"><i class="fass fas fa-home"></i></a></p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Código: <a href="https://github.com/JorgeH04/reactbooks" class="project-icon"><i class="fass fas fa-home"></i></a></p>
			  

		   


       </div>
    </div>
</div>








<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>API POKEMON<strong class="text-primary"> </strong></h2>
			<hr>
			
			
     </div>
    </div>
  </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>
               
             <li><i class="fas fa-asterisk"></i>Navegacion</li> 		 <br>
			 <li><i class="fas fa-asterisk"></i> Una cabecera con un boton que lo redirijirá a la página donde puede contactarse 
			 con él enviando un mensaje que le llegará a la casilla de correo Gmail gracias a un módulo llamado Nodemailer</li> <br>
			 <li><i class="fas fa-asterisk"></i> Posibilidad de acceder a un backend oculto a través de esta URL: </li> <br>
			 <li><i class="fas fa-asterisk"></i> Una seccion en la que figuran las empresas que trabajan con  el </li> <br>
             <li><i class="fas fa-asterisk"></i> Una seccion en la que figuran las empresas que trabajan con  el </li> <br>
       
          </p>

          </div>
        </div>
       </div>
      </div>
    </div>
  </div>


