 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Detalles del proyecto</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


  <div class="container-fluid bg-gray mt-5">
 	<div class="container ">
 		<div class="row">
 			<div class="col-sm-12 ">
 				<p> 
				
				</p>
 			</div>
 		</div>
 	</div>



<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologías <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			<p></p>
			
			<p><i class="fa fa-pencil-square-o"></i> Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Angular </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: https://heladosapp.herokuapp.com/</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Atlas</p>


</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Descripción <strong class="text-primary"> </strong></h2>
			<hr>
			
			
</div>
</div>
    </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>
			<li><i class="fas fa-asterisk"></i> Barra de navegación fija que colapsa cuando se desliza hacia abajo</li> <br>
			<li><i class="fas fa-asterisk"></i> Desplazamiento suave a través de las diferentes secciones</li> <br>
			<li><i class="fas fa-asterisk"></i> Backend oculto para actualizar los productos: https://heladosapp.herokuapp.com/fruta/add</li> <br>
			<li><i class="fas fa-asterisk"></i> Actualizar, eliminar y agregar tanto el precio como un nuevo producto</li> <br>
			<li><i class="fas fa-asterisk"></i> Código: https://github.com/JorgeH04/helados</li> <br>

            
       
           </p>
       </div>
      </div>
    </div>
  </div>
 </div>
</div>

