<div class="aboutt container ">
     	<div class="row text-center">
     		<div class="col-md-12">
     			<h1 style="color: dodgerblue">I am a Web Developer based in Buenos Aires</h1>
     		</div>
     	</div>
     	<div class="row pt-5">
     		<div class="col-md-6">
     			<img class="img-fluid" src="images/imgme2.jpg" alt="img">
     		</div>
     		
     		<div class="col-md-6">
     			<h5 style="margin: 0px 10px">Hi, thanks for taking the time out to visit my website. My name is Jorge Hesslegrave. I am passionate about designing and developing user-friendly websites. I have all the skills to create a new high quality website or improve existing websites for individuals and organisations, using the latest techniques and trends. I focus on modern and responsive website solutions that are easy to update by the client. Are you looking for a high quality website for your organisation or company at a competitive<br/>
        for technology and building clean and responsive websites. He not only focuses on making your website user/mobile friendly, but his goal is to also structure your website to ensure it has great Search Engine Optimization.</h5>
     		</div>
     	</div>
     </div>    


<div class="container mt-5">
    	<div class="row">
    		<div class="col-md-6 no-padding-margin">
    			<div class="media">
    				<div class="media-background best-card mr-4">
    					<i class="fa fa-user"></i>
    				</div>
    				<div class="media-body">
    					<h5 class="mt-0">
    						Incididunt ut labore et dolore
    					</h5>
    					    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. 
    				</div>
    			</div>
    		</div>
    		
    		<div class="col-md-6 no-padding-margin">
    			<div class="media">
    				<div class="media-background best-card mr-4">
    					<i class="fa fa-bell"></i>
    				</div>
    				<div class="media-body">
    					<h5 class="mt-0">
    						Incididunt ut labore et dolore
    					</h5>
    					    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. 
    				</div>
    			</div>
    		</div>
    	</div>
    	
    	
    	
    	<div class="row mt-4">
    		<div class="col-md-6 no-padding-margin">
    			<div class="media">
    				<div class="media-background best-card mr-4">
    					<i class="fa fa-comments"></i>
    				</div>
    				<div class="media-body">
    					<h5 class="mt-0">
    						Incididunt ut labore et dolore
    					</h5>
    					    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. 
    				</div>
    			</div>
    		</div>
    		
    		<div class="col-md-6 no-padding-margin">
    			<div class="media">
    				<div class="media-background best-card mr-4">
    					<i class="fa fa-home"></i>
    				</div>
    				<div class="media-body">
    					<h5 class="mt-0">
    						Incididunt ut labore et dolore
    					</h5>
    					    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. 
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    