<h1>Este proyecto se trata de una tienda online.
    Los productos estan divididos en secciones en una barra en la parte izquierda
    El cliente tendrá la posibilidad de agregar, editar o eliminar sus productos a través de una
    url https://utilescarro.herokuapp.com/foliosindex 
    Para efectuar una compra el usuario estará obligado a hacerse una cuenta
</h1>