<div class="aboutt container ">
     	<div class="row text-center">
     		<div class="col-md-12">
     			<h1 style="color: dodgerblue">SOY UN DESARROLLADOR WEB VIVIENDO EN BUENOS AIRES, CAPITAL</h1>
     		</div>
     	</div>
     	<div class="row pt-5">
     		<div class="col-md-6">
     			<img class="img-fluid" src="images/imgme2.jpg" alt="img">
     		</div>
     		
     		<div class="col-md-6 mt-5">
     			<h5 style="margin: 0px 10px">Hola, gracias por tomarse su tiempo en echar un vistazo a mi sitio web. Mi nombre es Jorge Hesslegrave. Soy un apasionado en el desarrollo web tanto front como backend. 
                     Tengo la habilidad y conocimiento como para crear sitios web de alta calidad para tanto individuos o empresas, usando las últimas tecnologías. 
                     Hago principalmente foco en modernos y responsive sitios web provistos de la posibilidad de ser manejados y actualizados por el cliente mismo. 
                     <br/>
        </h5>
     		</div>
     	</div>
     </div>    



	  <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Tecnologías que utilizo</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


<div class="container mt-5">
    	<div class="row">
    		<div class="col-md-6 no-padding-margin">
    			<div class="media">
    				<div class="media-background best-card mr-4">
    					  <i class="fab fa-js-square"></i>
    				</div>
    				<div class="media-body">
    					<h5 class="mt-0">
    						Lenguajes de programación y frameworks
    					</h5>
						 <li><i class="fa fa-check"></i>Javascript / Java</li> <br>
						 <li><i class="fa fa-check"></i>Node JS</li> <br>
						 <li><i class="fa fa-check"></i>React</li> <br>
						 <li><i class="fa fa-check"></i>Angular</li> 
						

    					    
    				</div>
    			</div>
    		</div>
    		
    		<div class="col-md-6 no-padding-margin">
    			<div class="media">
    				<div class="media-background best-card mr-4">
    					<i class="fas fa-code"></i> 
    				</div>
    				<div class="media-body">
    					<h5 class="mt-0">
                          Frontend
    					</h5>
						 <li><i class="fa fa-check"></i>HTML, CSS</li> <br>
						 <li><i class="fa fa-check"></i>Bootstrap 4</li> <br>
						 <li><i class="fa fa-check"></i>Materialize </li> <br>

    				</div>
    			</div>
    		</div>
    	</div>
    	
    	
    	
    	<div class="row mt-4">
    		<div class="col-md-6 no-padding-margin">
    			<div class="media">
    				<div class="media-background best-card mr-4">
                   <i class="fas fa-database"></i>   				
                  </div>
    				<div class="media-body">
    					<h5 class="mt-0">
    						Bases de datos
    					</h5>
						 <li><i class="fa fa-check"></i>MongoDB</li> <br>
						 <li><i class="fa fa-check"></i>Mysql</li> <br>
						 <li><i class="fa fa-check"></i>Firebase</li> <br>
    				</div>
    			</div>
    		</div>
    		
    		<div class="col-md-6 no-padding-margin" style="margin-bottom: 30px">
    			<div class="media">
    				<div class="media-background best-card mr-4">
    				<i class="fas fa-cloud"></i>
    				</div>
    				<div class="media-body">
    					<h5 class="mt-0">
							Cloud
    					</h5>
						<li><i class="fa fa-check"></i>Heroku</li> <br>
						<li><i class="fa fa-check"></i>Digital Ocean</li> <br>
						<li><i class="fa fa-check"></i>MongoDB Atlas</li> <br>
						<li><i class="fa fa-check"></i>Clever Cloud</li> <br>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    </div>