 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Project Detail</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


	   <div class="container-fluid bg-gray mt-5">
 	<div class="container ">
 		<div class="row">
 			<div class="col-sm-12 ">
 				<p> 
				The MEAN stack is based in 4 tecnologies: Mongo, express, angular y node. This project tries to integrate these 4 tecnolgies using Javascript either in the frontend as in the backend. Its clearly a great advantage to use the same programming language in the same frame.
                Angular se encarga de la lógica de programación que funciona dentro del navegador. Node es un entorno de ejecución que hace que el sistema operativo entienda javascript
                Express es un framework del lado del backend
                MongoDb es una base de datos no sql que usa Javascript como lenguaje de consultas	
				</p>
 			</div>
 		</div>
 	</div>



<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologies <strong class="text-primary"> </strong></h2>
			<hr>
			<p>Lorem ipsum dolor sit amet, lotrem some colored text. Nulla explicabo attention to this blanditiis, ex cupiditate ipsam debitis rem.</p>
			
			<p><i class="fa fa-pencil-square-o"></i> Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Angular</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: https://jorhessapp7.herokuapp.com/ </p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Netlify - Heroku - Mongodb Atlas</p>


</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Features <strong class="text-primary"> </strong></h2>
			<hr>
			
			
      </div>
   </div>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>

             <li><i class="fas fa-asterisk"></i>La aplicación comienza con un full screen landing-page con un botón que te direcciona a el blog</li> 		 <br>
			 <li><i class="fas fa-asterisk"></i> Cada post puede ser escrito por el dueño del sitio a través de un backend oculto
			 <li><i class="fas fa-asterisk"></i> Los posts estan ordenados según comenzando por los más recientes hasta los más antiguos </li> <br>
			 <li><i class="fas fa-asterisk"></i> Cada Post podrá ser comentado por los usuarios. Para ello, hubo que buscar la forma de relacionar cada comentario con
			 el post que desea ser comentado. Para eso se guarda el ID del post que se esta comentando creando un atributo del ID del post en el modelo de los comentarios. 
			 Un ID perteneciente a otra coleccion </li> <br>
             <li><i class="fas fa-asterisk"></i> Una seccion en la que figuran las empresas que trabajan con  el </li> <br>
			 <li><i class="fas fa-asterisk"></i> URL: https://dreamy-tereshkova-c7e859.netlify.com/</li> <br>
             <li><i class="fas fa-asterisk"></i> Backend: https://servermeanjor.herokuapp.com/ </li> <br>

       
           </p>
       </div>
      </div>
    </div>
  </div>
 </div>
</div>

