 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Projects Details</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-12">
			<h2>Tecnologías <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			<p>These 2 proyects consume two different APIs in order to capture the data and show them on the screen
            </p>
			
			
			<p><i class="fa fa-pencil-square-o"></i> Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Angular JS</p>

</div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-12">
			<h2>Pixabay API<strong class="text-primary"> </strong></h2>
			<hr>
			<p></p>
			
			
    </div>
   </div>
  </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-8">
           <p>
               
			 <li><i class="fas fa-asterisk"></i> Pixabaty API  </li> <br>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: <a href="https://adoring-mayer-2dde84.netlify.com/" class="project-icon"><i class="fass fas fa-home"></i></a></p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Código: <a href="https://github.com/JorgeH04/pixabay" class="project-icon"><i class="fass fas fa-home"></i></a></p>

       
    
          </p>


       </div>
    </div>
</div>
  </div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-12">
			<h2>Github Api<strong class="text-primary"> </strong></h2>
			<hr>
			<p></p>
			
			
    </div>
   </div>
  </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-8">
           <p>
               
             <li><i class="fas fa-asterisk"></i>Uso de la API de github</li> 		 <br>
			 <li><i class="fas fa-asterisk"></i> One can enter the name of the user in the navbar and inmediatly get the data related to them</li> <br>
       		<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: <a href="https://pensive-turing-10803a.netlify.com/" class="project-icon"><i class="fass fas fa-home"></i></a></p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Código: <a href="https://github.com/JorgeH04/gitappangular " class="project-icon"><i class="fass fas fa-home"></i></a></p>

    
          </p>


       </div>
    </div>
</div>
  </div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<hr>
			
			
</div>
</div>
    </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>

           
       
           </p>
       </div>
      </div>
    </div>
  </div>
 </div>
</div>

