
 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Project Details</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologies <strong class="text-primary"> </strong></h2>
			<hr>
			
			<p><i class="fa fa-pencil-square-o"></i> Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Angular </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Atlas</p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: <a href="https://jorhesswork7.herokuapp.com/" class="project-icon"><i class="fass fas fa-home"></i></a></p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Backend oculto: <a href="https://jorhesswork7.herokuapp.com/fruta/add" class="project-icon"><i class="fass fas fa-home"></i></a></p>
		   	<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Código: <a href="https://github.com/JorgeH04/helados" class="project-icon"><i class="fass fas fa-home"></i></a></p>


</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Features<strong class="text-primary"> </strong></h2>
			<hr>						
</div>
</div>
    </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>
               
    		<li><i class="fas fa-asterisk"></i> D</li> <br>

                     

</p>


       </div>
    </div>
</div>

 </div>
    </div>
</div>








