
 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Project Details</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>



	 	  <div class="container-fluid bg-gray mt-5">
 	<div class="container ">
 		<div class="row">
 			<div class="col-sm-12 ">
 				<p> 
					
                    
				<h4>Common features:</h4></li> <br>
					 
			   	<li><i class="fas fa-asterisk"></i> In each of the application the user can choose the products they want to buy and send them to the shopping cart. </li> <br>
			   	<li><i class="fas fa-asterisk"></i> In order to make the purchase, the user will be forced to make an account and then log in to make the payment.</li> <br>
			   	<li><i class="fas fa-asterisk"></i> Every user will have their own account with their own data that will not interfer one with the other </li> <br>
			   	<li><i class="fas fa-asterisk"></i> The sessions consists in holding little pieces of data in the memory of the server and then reuse them in different pages. Thanks to the express-session we can create sesiones inside the server and when  
                the user register himself he can keep visiting other pages withouyt the need of logging again every time. And this will be possible thanks to the sessions</li> <br>
				<li><i class="fas fa-asterisk"></i> Both applications will have a cyphred password thanks to the bcryptjs module that applies an algorythm to a given string and can convert it into a hash</li> <br>
	            <li><i class="fas fa-asterisk"></i> Hidden backend that enables to add, update o delete ither the whole product and its information</li> <br>
				<li><i class="fas fa-asterisk"></i> Both applications were programmed with a con un motor de plantilla that is a way to ad extra functionality to the html and thereby be able to use loops, conditionals.</li> <br>
				<li><i class="fas fa-asterisk"></i> Once the product is added to the cart, the user can increase the quantity by one and by doing so the price will change</li> <br>


					  </p>
 			</div>
 		</div>
 	</div>

  		


<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologies <strong class="text-primary"> </strong></h2>
			<hr>
			
			<p><i class="fa fa-pencil-square-o"></i> Backend: Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Frontend: Html-CSS-JS, Bootstrap 4, EJS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoDB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: https://jorhessapp7.herokuapp.com/ </p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud</p>


</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Clothes Store <strong class="text-primary"> </strong></h2>
			<hr>
			
			
     </div>
   </div>
  </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>

				<li><i class="fas fa-asterisk"></i> Carrousel</li> <br>
				<li><i class="fas fa-asterisk"></i> Each product have the possibility to access to its own view to not only see its information but to 
				choose the color and the size of the clothe the user want to buy </li> <br>
				<li><i class="fas fa-asterisk"></i> URL: https://jorhesswork3.herokuapp.com/ </li> <br>
				<li><i class="fas fa-asterisk"></i> Hidden Backend : https://jorhesswork3.herokuapp.com/ofertauno/add</li> <br>
				<li><i class="fas fa-asterisk"></i> Code: https://github.com/JorgeH04/zapacarro</li> <br>


           </p>

       </div>
    </div>
</div>



<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>School/office products Store<strong class="text-primary"> </strong></h2>
			<hr>
			
			
     </div>
   </div>
 </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>

			 <li><i class="fas fa-asterisk"></i>Navigation containing register and login tags</li> 		 <br>
			 <li><i class="fas fa-asterisk"></i> Sidebar nav with layers of the submenu containing the different products
			<li><i class="fas fa-asterisk"></i> Contrary to the other application, here there were no need to programming an own view for each product. They are simple products and the user can send them
			to the cart from the general view. </li> <br>
			<li><i class="fas fa-asterisk"></i> URL: https://jorhesswork4.herokuapp.com/ </li> <br>
			<li><i class="fas fa-asterisk"></i> Hidden Backend : https://jorhesswork4.herokuapp.com/mochilabackend</li> <br>
			<li><i class="fas fa-asterisk"></i> Code: https://github.com/JorgeH04/utilescarro</li> <br>

            </p>


           </div>
         </div>
        </div>
      </div>
    </div>
  </div>


