 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Detalles del proyecto</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologías <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			<p>Mongo, express, angular y node. Integrar esas 4 tecnologías utilizando Javascript tanto en el frontend como en el backend. Utilizar un mismo lenguanje en el mismo entorno.
                Angular se encarga de la lógica de programación que funciona dentro del navegador. Node es un entorno de ejecución que hace que el sistema operativo entienda javascript
                Express es un framework del lado del backend
                MongoDb es una base de datos no sql que usa Javascript como lenguaje de consultas
            </p>
			
			<p><i class="fa fa-pencil-square-o"></i> Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Angular </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: https://jorhessapp7.herokuapp.com/ </p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Netlify - Heroku - Mongodb Atlas</p>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Some bold text, unde voluptatum quidem explicabo et eius aut nisi dolore Learn More</p>
</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Descripción <strong class="text-primary">utilizadas </strong></h2>
			<hr>
			<p>Lorem ipsum dolor sit amet, lotrem some colored text. Nulla explicabo attention to this blanditiis, ex cupiditate ipsam debitis rem.</p>
			
			
</div>
</div>
    </div>
</div>

<div class="container">
   <div class="row">
      <div class= "col-md-10">
           <p>

             <li><i class="fas fa-asterisk"></i>La aplicación comienza con un </li> 		 <br>
			 <li><i class="fas fa-asterisk"></i> El código del frontend y del Backend iran por carpetas separadas
			 <li><i class="fas fa-asterisk"></i> Dado que en Angular estoy desarrollando en el puerto 4200 y mi rest api esta en el 3000, debo configurar el módulo CORS como un middleware en el servidor y ahi le indicamos en un objeto los servidores para que se comuniquen </li> <br>
			 <li><i class="fas fa-asterisk"></i> El formulario de angular no tend´ra ningún action, será manejado mediante eventos de ángular </li> <br>
             <li><i class="fas fa-asterisk"></i> Una seccion  </li> <br>
			 <li><i class="fas fa-asterisk"></i> URL: https://dreamy-tereshkova-c7e859.netlify.com/</li> <br>
             <li><i class="fas fa-asterisk"></i> Backend: https://servermeanjor.herokuapp.com/ </li> <br>

       
           </p>
       </div>
      </div>
    </div>
  </div>
 </div>
</div>

