
 <div class="container-fluid bg-gray mt-5">
 	<div class="container pt-5">
 		<div class="row">
 			<div class="col-sm-12 text-center">
 				<h1 class="pb-3">Project Details</h1>
 				<div class="orange-line m-auto"></div>
 				
 			</div>
 		</div>
 	</div>


<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Tecnologies <strong class="text-primary"> </strong></h2>
			<hr>
			
			<p><i class="fa fa-pencil-square-o"></i> Backend: Node JS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Frontend: Html-CSS-JS, Bootstrap 4, EJS </p>
			<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Database: MongoDB</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud</p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> URL: https://jorhessapp7.herokuapp.com/ </p>
            <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cloud: Heroku - Mongodb Cloud</p>


</div>

<div class="container mt-4">
	<div class="row">
		<div class="col-md-6">
			<h2>Features<strong class="text-primary"> </strong></h2>
			<hr>						
</div>

<div class="container p-4">
   <div class="row">
      <div class= "col-md-10 mt-5">
           <p>
               
    		<li><i class="fas fa-asterisk"></i> Desplazamiento suave a través de las diferentes secciones</li> <br>
					<i class="fas fa-asterisk"></i> Desplazamiento suave a través de las diferentes secciones</li> <br>
					<i class="fas fa-asterisk"></i> Posibilidad de acceder a un backend oculto a través de esta URL: </li> <br>
					<i class="fas fa-asterisk"></i> Actualizar, eliminar y agregar tanto el precio como un nuevo producto</li> <br>
                     

</p>


       </div>
    </div>
</div>

 </div>
    </div>
</div>








